.dialog-toggle {
	width: 60px;
	height: 30px;
	border: 1px solid #ACACAC;
	position: absolute;
	bottom: 50%;
	right: 1%;
	display: none;
	padding: 0 5px 8px 5px;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	background: #ACACAC;
	border: 1px solid #FF0000;
	border-radius: 10px;
	color: #ff0000;
	cursor: pointer;
	opacity: 0.4;
}
.dialog-toggle:hover {
	color: #ffffff;
	opacity: 0.8
}
.dard_d_ct {
	float: right;
	width: 112px;
	height: 35px;
}
.dard_d_box {
	width: 315px;
	height: 200px;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -157px;
	margin-right: -157px;
	background-color: #ffffff;
	border: 1px solid #C2CFD1;
	display: block;
}
.dard_d_hd {
	margin: 0;
	height: 35px;
	background-color: #C2CFD1;
	cursor: move;
}
.dard_d_hd h4 {
	margin: 0;
	padding: 8px 0;
	text-indent: 5px;
	font-size: 17px;
}
.dard_d_bt {
	width: 35px;
	height: 35px;
	padding: 4px;
	display: block;
	color: #ff0000;
	font-weight: 800;
	background-color: #acacac;
	float: right;
	font-size: 24px;
	margin-left: 2px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.dard_d_bt:hover {
	color: #FFFFFF;
	background-color: #9c9c9c;
}
.dard_d_bd {
	display: block;
	width: 100%;
	height: 160px;
	text-align: center;
	overflow-y: auto;
}
.dard_d_f {
	height: 5px;
	display: block;
	background-color: #C2CFD1;
	cursor: move;
}
/* Second Dialog box */
.dard_d_box_two {
	position: absolute;
	top: 12%;
	right: 50%;
	margin-left: -150px;
	margin-right: -150px;
	width: 315px;
	height: 400px;
	background-color: #ffffff;
	border: 1px solid #C2CFD1;
	display: block;
}
.dard_d_bd_two {
	display: block;
	width: 100%;
	height: 360px;
	text-align: center;
	overflow-y: auto;
}
/* Dialog tranzition classes */
.dialog-transition {
	position: absolute;
	top: 90px;
	right: 0;
	height: 35px;
	width: 162px;
	overflow: hidden;
	opacity: 0.5;
}
.dialog_h_t {
	width: 162px;
	height: 35px;
	cursor: move;
	background-color: #C2CFD1;
}
.dialog_bd_t, .dialog_f_t, .dialog_h_t h4 {
	height: 0;
	display: none;
}


.search_box{
	width: 100%;
	height: auto;
}
.search_box p{
	text-align: left;
	margin: 0;
	border-bottom: 1px solid #efefef;
	color: #003B49;
}
.search_box a:hover{
	background-color: #fafafa;
	color: #003B49;
}
.search_box a{
	color: #007591;
	display: block;
	padding: 10px;
}






















