body {
  background: #05274f;/*#2c3338;*/
  color: #606468;
}
a{
    color: #015e68;
    text-decoration: none;
    line-height: 1.1rem;
    font-size: 1rem;
}
@media (max-width: 420px){
    a{
        font-size: 0.9rem;
    }
}
@media (max-width: 365px){
    a{
        font-size: 82%;
    }
}
a:hover{
    color: #004951;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

#login {
  margin: 80px auto;
  max-width: 420px;
}

.inner{
  margin: auto;
  padding: 5%;
  box-sizing:border-box;
  width: 90%;
  border-radius: 8px;
  background: #c2cfd1;/*#282e33;*/
  box-shadow: 0px 0px 12px 3px#888888;
}

.inner nav{
    background: inherit;
}

#login form {
  margin: auto;
  box-sizing:border-box;
  width: 100%;
}

h1{
    text-align: center;
    color: #353738;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#login form span {
  background-color: #363b41;
  color: #606468;
  border-radius: 5px 0px 0px 5px;
  border-right: 3px solid #434a52;
  display: block;
  box-sizing: border-box;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 20%;
  height: 50px;
}

.user{
    background-image: url(../../images/icons/114-user.svg);
 }

.passwd{
    background-image: url(../../images/icons/144-lock.svg);
}

.email{
    background-image: url(../../images/icons/389-mail2.svg);
}
input[type="text"], input[type="password"] {
  background-color: #e0f8ff;/*#3b4148;*/
  border-radius: 0px 5px 5px 0px;
  border-collapse: collapse;
  border: 1px solid #b0b8ba;
  color: #353738;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 80%;
  height: 50px;
}

#captcha{
    background-image: url(../../images/captcha.php);
}

.user, .email, .passwd, #captcha{
    background-repeat: no-repeat;
    background-position: center center;
}

#login form input[type="submit"] {
  background: #027735;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #015124;
}
#login nav{
  margin-top: 30px;
  margin-bottom: 30px;
  padding:1%;
  box-sizing:border-box;
  width: 100%;
}
.bl{
    border-left: 2px solid #015e68;
}
.br{
    border-right: 2px solid #015e68;
}
.hr{
    border-bottom: 2px solid #015E68;
}
#login nav span{
    padding: 4%;
    background-color: #bfcacc;
}
