/* Dard user interface css */
/** GRID SYSTEM **/
/*====================================*/
/*  SECTIONS  */
.section { clear: both;padding: 0px;margin: 0px; }
/*  GROUPING  */ 
.group:before, .group:after { content: ""; display: table; }
.group:after { clear:both; }
/*  COLUMN SETUP  */ 
.col { display: block;float:left;margin: 0 0 0 1.6%; }
.col-f { display: block;float: left;margin: 0; } /* .col-full */
.col-rs { display: block;float: left;margin: 0; } /* .col-responsive full screen under 600px 960px screen width*/
.col-rs-s { display: block;float: left;margin: 0; } /* .col-responsive full screen under 600px screen width*/
.col-rs-sm { display: block;float: left;margin: 0; } /* .col-responsive full screen under 600px margin top bottom 10px */
.col-rs-sbm { display: block;float: left;margin: 0; } /* .col-responsive full screen under 600px margin bottom 10px */
.col-rs-2 { display: block;float: left;margin: 0; } /* .col-responsive */
.col-r { display: block;float: right;margin: 0 1.6% 0 0; } /* .col-right */
.col:first-child { margin-left: 0; }
.col-r:first-child { margin-right: 0; }
/* GRID OF ONE AND ROWS*/
.span-100 { width: 100%; }
.span-96, .span-96-c { width: 96%; }
.span-94, .span-94-c  { width: 94%; }
.span-90 { width: 90%; }
.span-80 { width: 80%; }
.span-74 { width: 74%; }
.span-70 { width: 70%; }
.span-60 { width: 60%; }
.span-50 { width: 50%; }
.span-48 { width: 48%; }
.span-40 { width: 40%; }
.span-30 { width: 30%; }
.span-24 { width: 22%; }
.span-20 { width: 20%; }
.span-10 { width: 10%; }
.span-05 { width: 5%; }
/* GRID OF TWO */
.span-1-of-2 { width: 49.2%; }
/* GRID OF THREE */
.span-2-of-3 { width: 66.13%; }
.span-2-of-3-f { width: 66.66%; } /* full */
.span-1-of-3 { width: 32.26%; }
.span-1-of-3-f { width: 33.33%; } /* full */
/* GRID OF FOUR */
.span-3-of-4 { width: 74.6%; }
.span-3-of-4-f { width: 75%; } /* full */
.span-2-of-4 { width: 49.2%; }
.span-2-of-4-f { width: 50%; } /* full */
.span-1-of-4 { width: 23.8%; }
.span-1-of-4-f { width: 25%; } /* full */
/* GRID OF FIVE */
.span-4-of-5-f { width: 80%; }
.span-4-of-5 { width: 79.68%; }
.span-3-of-5-f { width: 60%; }
.span-3-of-5 { width: 59.36%; }
.span-2-of-5-f { width: 40%; }
.span-2-of-5 { width: 39.04%; }
.span-1-of-5-f { width: 20%; }
.span-1-of-5 { width: 18.72%; }
/* GRID OF SIX */
.span-6-of-6 { width: 100%; }
.span-5-of-6 { width: 83.06%; }
.span-4-of-6 { width: 66.13%; }
.span-3-of-6 { width: 49.2%; }
.span-2-of-6 { width: 32.26%; }
.span-1-of-6 { width: 15.33%; }
.span-6-of-6-f { width: 100%; }
.span-5-of-6-f { width: 83.33%; }
.span-4-of-6-f { width: 66.66%; }
.span-3-of-6-f { width: 60%; }
.span-2-of-6-f { width: 33.33%; }
.span-1-of-6-f { width: 16.66%; }
/*  GRID OF SEVEN  */
.span-7-of-7-f { width: 100%; }
.span-6-of-7-f { width: 85.71%; }
.span-5-of-7-f { width: 71.42%; }
.span-4-of-7-f { width: 57.14%; }
.span-3-of-7-f { width: 42.85%; }
.span-2-of-7-f { width: 28.57%; }
.span-1-of-7-f { width: 14.28%; }
.span-7-of-7 { width: 100%; }
.span-6-of-7 { width: 85.48%; }
.span-5-of-7 { width: 70.97%; }
.span-4-of-7 { width: 56.45%; }
.span-3-of-7 { width: 41.94%; }
.span-2-of-7 { width: 27.42%; }
.span-1-of-7 { width: 12.91%; }
/** END OF GRID SYSTEM **/ 
/*====================================*/

/* POSITIONING PROPERTIES */
/***************************/
.box { display: block;}
.line-box { display: inline-block;}
.left { float: left; }
.right { float: right; }
.c-text { text-align: center; } /* center-text */
.c-box { margin-left: auto; margin-right: auto; display: block; } /* center-box-section */
.span-96-c, .span-94-c { margin-left: auto; margin-right: auto; display: block; }
.indent { text-indent: 1.5rem; }
.indent-02 { text-indent: .2rem; }
.indent-05 { text-indent: .5rem; }
.indent-08 { text-indent: .8rem; }
.indent-1 { text-indent: 1rem; }

/** ROW SPACING  MARGIN **/
/***************************/
.space-0 { margin-top: 0;margin-bottom: 0; }
.space-5 { margin-top: 5px;margin-bottom: 5px; }
.space-10 { margin-top: 10px;margin-bottom: 10px; }
.space-15 { margin-top: 15px;margin-bottom: 15px; }
.space-20 { margin-top: 20px;margin-bottom: 20px; }
.space-25 { margin-top: 25px;margin-bottom: 25px; }
.space-30 { margin-top: 30px;margin-bottom: 30px; }
.space-1rem { margin-top: 1rem;margin-bottom: 1rem; }
.space-2rem { margin-top: 2rem;margin-bottom: 2rem; }
.t-space-5 { margin-top: 5px; }
.t-space-10 { margin-top: 10px; }
.t-space-15 { margin-top: 15px; }
.t-space-20 { margin-top: 20px; }
.t-space-25 { margin-top: 25px; }
.t-space-30 { margin-top: 30px; }
.b-space-5 { margin-bottom: 5px; }
.b-space-10 { margin-bottom: 10px; }
.b-space-15 { margin-bottom: 15px; }
.b-space-20 { margin-bottom: 20px; }
.b-space-25 { margin-bottom: 25px; }
.b-space-30 { margin-bottom: 30px; }

/** ROW PADDING HORIZONTAL **/
/***************************/
.pad-5 { padding-top: 5px; padding-bottom: 5px; }
.pad-10 { padding-top: 10px; padding-bottom: 10px; }
.pad-15 { padding-top: 15px; padding-bottom: 15px; }
.pad-20 { padding-top: 20px; padding-bottom: 20px; }
.pad-25 { padding-top: 25px; padding-bottom: 25px; }
.pad-30 { padding-top: 30px; padding-bottom: 30px; }
.pad-1rem { padding-top: 1rem; padding-bottom: 1rem; }
.pad-2rem { padding-top: 2rem; padding-bottom: 2rem; }
.t-pad-5 { padding-top: 5px; }
.t-pad-10 { padding-top: 10px; }
.t-pad-15 { padding-top: 15px; }
.t-pad-20 { padding-top: 20px; }
.t-pad-25 { padding-top: 25px; }
.t-pad-30 { padding-top: 30px; }
.b-pad-5 { padding-bottom: 5px; }
.b-pad-10 { padding-bottom: 10px; }
.b-pad-15 { padding-bottom: 15px; }
.b-pad-20 { padding-bottom: 20px; }
.b-pad-25 { padding-bottom: 25px; }
.b-pad-30 { padding-bottom: 30px; }

/** BOX PADDING WHOLE **/
/***************************/
.pad-all-5 { padding: 5px; }
.pad-all-10 { padding: 10px; }
.pad-all-15 { padding: 15px; }
.pad-all-20 { padding: 20px; }
.pad-all-25 { padding: 25px; }
.pad-all-30 { padding: 30px; }


/** GRID SPACING FROM LEFT AND RIGHT**/
/***************************/
.left-g-1 { margin-left: 1.6%;}
.left-g-2 { margin-left: 3.2%;}
.left-g-3 { margin-left: 4.8%;}
.right-g-1 { margin-right: 1.6%;}
.right-g-2 { margin-right: 3.2%;}
.right-g-3 { margin-right: 4.8%;}

/** COLUMN SPACING FROM LEFT AND RIGHT**/
/***************************/
.left-1 { margin-left: 1%; }
.left-2 { margin-left: 2%; }
.left-3 { margin-left: 3%; }
.left-4 { margin-left: 4%; }
.left-5 { margin-left: 5%; }
.left-6 { margin-left: 6%; }
.left-7 { margin-left: 7%; }
.left-8 { margin-left: 8%; }
.left-9 { margin-left: 9%; }
.left-10 { margin-left: 10%; }
.left-15 { margin-left: 15%; }
.right-1 { margin-right: 1%; }
.right-2 { margin-right: 2%; }
.right-3 { margin-right: 3%; }
.right-4 { margin-right: 4%; }
.right-5 { margin-right: 5%; }
.right-6 { margin-right: 6%; }
.right-7 { margin-right: 7%; }
.right-8 { margin-right: 8%; }
.right-9 { margin-right: 9%; }
.right-10 { margin-right: 10%; }
.right-15 { margin-right: 15%; }

/** TEXT AND LINE HEIGHT PROPERTIES **/
/***************************/
.rem-1-2 {line-height: 2rem; font-size: 1rem;}
.rem-1-14 {line-height: 1.4rem; font-size: 1rem;}
.rem-1-15 {line-height: 1.5rem; font-size: 1rem;}
.rem-1-16 {line-height: 1.6rem; font-size: 1rem;}
.rem-1-18 {line-height: 1.8rem; font-size: 1rem;}

/** BOX HEIGHT PROPERTIES IN REM **/
/***************************/
.h-1-rem { height: 1rem; }
.h-1-2-rem { height: 1.2rem; }
.h-1-4-rem { height: 1.4rem; }
.h-1-5-rem { height: 1.5rem; }
.h-1-6-rem { height: 1.6rem; }
.h-1-8-rem { height: 1.8rem; }
.h-2-rem { height: 2rem; }
.h-3-rem { height: 3rem; }
.h-4-rem { height: 4rem; }
.h-5-rem { height: 5rem; }
.h-6-rem { height: 6rem; }
.h-7-rem { height: 7rem; }
.h-8-rem { height: 8rem; }
.h-9-rem { height: 9rem; }
.h-10-rem { height: 10rem; }

/** BOX MIN-HEIGHT PROPERTIES IN REM **/
/***************************/
.hm-1-rem { min-height: 1rem; }
.hm-1-2-rem { min-height: 1.2rem; }
.hm-1-4-rem { min-height: 1.4rem; }
.hm-1-5-rem { min-height: 1.5rem; }
.hm-1-6-rem { min-height: 1.6rem; }
.hm-1-8-rem { min-height: 1.8rem; }
.hm-2-rem { min-height: 2rem; }
.hm-3-rem { min-height: 3rem; }
.hm-4-rem { min-height: 4rem; }
.hm-5-rem { min-height: 5rem; }
.hm-6-rem { min-height: 6rem; }
.hm-7-rem { min-height: 7rem; }
.hm-8-rem { min-height: 8rem; }
.hm-9-rem { min-height: 9rem; }
.hm-10-rem { min-height: 10rem; }

/** BOX HEIGHT PROPERTIES IN PERCENT **/
/***************************/
.h-full, .h-100 { height: 100%; }
.h-half, .h-50 { height: 50%; }
.h-quarter, .h-25 { height: 25%; }
.h-third, .h-33-3 { height: 33.3%; }

/** RESPONSIVE WIDTH PROPERTIES**/
/***************************/
@media only screen and (max-width: 600px) {
	.col-rs, .col-rs-s, .col-rs-sm, .col-rs-sbm {
	  width: 100%;
	  margin-left: 0;
	  margin-right: 0;
	}
	
	.col-rs-sm {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.col-rs-sbm {
		margin-bottom: 10px;
	}
  }
  
  @media only screen and (max-width: 960px) {
	.col-rs {
	  width: 100%;
	  margin-left: 0;
	  margin-right: 0;
	}
  }

/** FADE IN  AND FADE OUT **/
/***************************/
.fadein { animation: fadein 2s; -moz-animation: fadein 3s; /* Firefox */ -webkit-animation: fadein 3s; /* Safari and Chrome */ -o-animation: fadein 3s; /* Opera */ }
@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } } /* Firefox */
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } } /* Safari and Chrome */
@-o-keyframes fadein { from { opacity:0; } to { opacity: 1; } }  /* Opera */
.fadeout { animation: fadeout 2s; -moz-animation: fadeout 3s; /* Firefox */ -webkit-animation: fadeout 3s; /* Safari and Chrome */ -o-animation: fadeout 3s; /* Opera */ }
@keyframes fadeout { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeout { from { opacity:1; } to { opacity:0; } } /* Firefox */
@-webkit-keyframes fadeout { from { opacity:1; } to { opacity:0; } } /* Safari and Chrome */
@-o-keyframes fadeout { from { opacity:1; } to { opacity: 0; } }  /* Opera */
/** SCROLL BAR STYLE **/
/************************/
* {	scrollbar-width: auto; /* "auto" or "thin"  */ scrollbar-color: #272727 #888888;  } /* The emerging W3C standard that is currently Firefox-only */
*::-webkit-scrollbar { Width: 12px; }/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar-track { background: #888888; }
*::-webkit-scrollbar-thumb { background-color: #272727; border-radius: 1px; border: 0; }
.leftscrollbar { direction: rtl; }
.leftscrollbar>nav { direction: ltr; }


/** CSS implemented in dard.js **/
/* Collapse
 * ******************************/
.collapse { cursor: pointer; }
.collapse::after { content: '\25bc'; float: right;margin-right: 1rem; } /* unicode plus 002B triangle to right 25B6*/
.collapse-active::after { content: "\00D7"; font-weight: bold; } /* unicode minus \2212 up triangle \25b2  */
.collapse-content { transition: max-height 0.1s ease-out;max-height: 0;margin-top: 0;overflow: hidden; }
.collapse-notransition { transition: all 0.3 !important; max-height: 0;margin-top: 0;overflow: hidden; }
/** End of Dard js css **/

/*
 * FORMS
 * =================================================================
 */


/* =============================
 * 
 * Dard-form form css
 * 
 * =============================
 */

.dard-form {
	margin: 40px auto;
	padding-bottom: 2%;
	display: block;
	position: relative;
	width: 96%;
	max-width: 600px; 
	background-color: #FFFFFF;
	border: 1px solid #EDEDED;
}

.dard-form h1, .dard-form h2, .dard-form h3, .dard-form h4{
	padding: 15px 0;
	color: #484848;
	text-align: center;
	font-weight: 400;
	display: block;
	border-bottom: 1px double #acebef;
	margin-bottom: 2%;
}

.dard-form h1 {
	font-size: 1.8rem;
}

.dard-form h2{
	font-size: 1.6rem;
}

.dard-form h3 {
	font-size: 1.4rem
}

.dard-form h4 {
	font-size: 1.3rem
}

.dard-form input[type="text"],
.dard-form textarea ,
.dard-form select {
	display:block;
	border: 1px solid #dadada;
	line-height: 1.8rem;
	font-size: .9rem;
	color: #878787;
	border-radius: 3px;
	outline: none;
	box-sizing: border-box;
	padding: 0;
	text-indent: 0.3rem;
	transition: ease-in-out all 220ms;
}
.dard-form input[type="text"],
.dard-form select {
	height: 1.8rem;
}
.dard-form textarea {
	line-height: 1.2rem;
	padding: 0 4px;
}
.dard-form fieldset {
	width: 80%;
	margin: 0 auto 15px auto;
}

.dard-form textarea {
	resize: vertical;
}

.dard-form input:focus,
.dard-form textarea:focus,
.dard-form select:focus {
	border: 1px solid #cdcdcd;
	box-shadow: 0 1px 4px 2px rgba(79, 79, 79, 0.19);
}
.dard-form input::placeholder,
.dard-form textarea::placeholder {
	color: #ACACAC;
}

.dard-form input[type="checkbox"],
.dard-form input[type="radio"] {
	appearance: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: 2px solid #ababab;
	background-color: #eeeeeb;
	display: block;
	float: left;
	width: 1.8rem;
	height: 1.8rem;
	box-shadow: inset 0 1px 1px 1px #828282;
	transition: 160ms all ease-in-out;
}
.dard-form input[type="checkbox"] {
	border-radius: 5px;
}
.dard-form input[type="radio"]{
	border-radius: 50%;
}
.dard-form input[type="checkbox"]:checked, 
.dard-form input[type="radio"]:checked,
.dard-form input[type="radio"]:focus{
	border: 2px solid #878787;
	background-color: #b8f0ff;
	box-shadow: inset 0 6px 8px 2px #828282;
	outline: 2px solid #14ffff;
	outline-offset: -3px;
}

.dard-form input[type="submit"],
.dard-form input[type="button"],
.dard-form button {
	background: #ece4e4;
	color: #4d4d4d;
	font-size: 1.2rem;
	display: block;
	border-radius: 3px;
	border: 2px solid #d9d9d9;
	/*box-shadow: 0 1px 3px 1px #828282;*/
	transition: 120ms all ease-in-out;
}

.dard-form input[type="submit"]{
	height: 2rem;
	margin: 20px auto;
	padding: 0 20px;
}
.dard-form input[type="button"],
.dard-form button {
	height: 1.8rem;
	padding: 0 .5rem;
}

.dard-form input[type="submit"]:hover,
.dard-form input[type="button"]:hover,
.dard-form button:hover{
	background-color: #e9e9e9;
	border: 2px solid #d1d1d1;
	box-shadow: 0 1px 3px 1px rgba(130, 130, 130, 0.3);
}

.dard-form label {
	text-indent: .5rem;
	color: #878787;
	font-size: .9rem;
}

.dard-form label.check-label {
	margin: 0 0 5px 0;
	display: block;
	height: 1.8rem;
	line-height: 1.8rem;
}

.dard-form label.check-label:hover {
	color: #373737;
}

.dard-form .succes {
	width: 100%;
	min-height: 2rem;
	padding: 5px 0;
	margin: 10px auto;
	border: 5px solid #49a800;
}
.block-form .succes p {
	text-align: center;
	color: #49a800;
}


/*
 * Overlays
 * =================================================================
 */
 
/* =============================
 * 
 * Full body Overlays
 * 
 * =============================
 */

.overlay-body {
	position : absolute;
	top : 0;
	left: 0;
	bottom: 0;
	width : 100%;
	height : 100%;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0;
	z-index: 1000;
	overflow-y: auto;
}

.overlay-body .overlaybtn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1500;
	padding: .3rem .4rem;
	outline: none;
	border: none;
	color: #ffffff;
	font-size: 2rem;
	text-align: center;
	line-height: 2rem;
	opacity: 0.6;
	background-color: rgba(0,0,0, .3);
	border-radius: 50%;
}
.overlay-body .overlaybtn:hover {
	opacity: 0.9;
	background-color: rgba(0,0,0, .4);
}

.overlay-body .overlay-header{
	height: 4.4rem;
	width: 100%;
}
